<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改密码</title>
<!-- 最新的 Bootstrap 核心 css 文件 -->
<!-- 在url上 使用 @标签 可以帮我们 自动加上 contextpath -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{/js/common/jquery-3.4.1.min.js}" ></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
</head>
<body>
<div class="container"  >
<form class="form-signin">
<div class="input-group input-group-sm" >
  <span class="input-group-addon" id="sizing-addon3">原密码</span>
  <input type="text" id="oldpss" class="form-control" placeholder="Password" aria-describedby="">
</div>

<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">新密码</span>
  <input type="text" id="newpss" class="form-control" placeholder="Password" aria-describedby="sizing-addon3">
</div>
<button type="button" onclick="updatepss()" id="Submit"  class="btn btn-success" data-toggle="popover" data-trigger="focus">提交</button>
</form>
</div>
<script type="text/javascript">
 function updatepss(){
	 console.debug("==================================");
	 var id=[[${accountid}]];
	 console.debug(id);
	 var oldpss=$("#oldpss").val();
	 var newpss=$("#newpss").val();
	 var url="/account/updatepass";
	 var args={oldpss:oldpss,newpss:newpss,id:id};
	 $.post(url,args,function(data){
		 console.debug(data);
		 if(data.code==500){
				$('#Submit').data('content',data.msg);
				$('#Submit').attr('title',"错误提示");
				$('#Submit').popover('show');
			}else if(data.code==200){
				$('#Submit').data('content',data.msg);
				$('#Submit').attr('title',"修改成功");
				$('#Submit').popover('show');
			    window.location.href="/account/list";
			}
	 });
 }
</script>
</body>
</html>